@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin-inline: auto;
  width: min(1300px, 100vw - 3rem);
}

p {
  line-height: 1.8;
  font-size: 1.1rem;
}

code {
  @apply bg-slate-800 rounded p-1 text-[13px] text-slate-50 font-ibm-plex-mono;
}
pre code {
  @apply bg-slate-800 rounded p-1 text-[13px] text-slate-50 font-ibm-plex-mono;
}

.article p {
  @apply mt-5 text-gray-600;
}

.outline-text {
  color: rgb(226, 232, 240);
  -webkit-text-stroke: 1px rgb(226, 232, 240);
  -webkit-text-fill-color: transparent;
}
